
$background-color: #FFF;


.report-html {
background-color: $background-color;
}

.report-html body {
    background-color: $background-color;
    margin : 20px;
}

.report-header {
    text-align : center ;
    font-size : 20px;
}